@import url(reset.css);
@import url(fontawesome-all.min.css);
@font-face {
    font-family: 'Raleway';
    src: url("http://findmatthew.com/style/../fonts/Raleway-Regular.ttf"); 
}
@font-face {
    font-family: 'Raleway-semibold';
    src: url("http://findmatthew.com/style/../fonts/Raleway-SemiBold.ttf"); 
}
@font-face {
    font-family: 'Raleway-bold';
    src: url("http://findmatthew.com/style/../fonts/Raleway-Bold.ttf"); 
}


:root {
    --primary-bg-color: white;
    --secondary-bg-color: whitesmoke;
    --primary-color: #0099ff;
    --secondary-color: #0099ff70;
    --header-height: 100px;
    --footer-height: 150px;
    --footer-border: 2px;
    --paragraph-padding-top: 20px;
}

html { 
    scroll-behavior: smooth; 
} 

body {
    font-family: "Raleway";
}

a {
    color: inherit;
    text-decoration: none;
}

.paragraph {
    padding-top: calc(20px + var(--header-height));
    height: calc(100vh - var(--header-height));
    line-height: 26px;
}

.paragraph:last-child {
    height: calc(100vh - var(--header-height) - var(--footer-height) - var(--footer-border) - var(--paragraph-padding-top));
}

.paragraph:nth-child(even){
    background: var(--secondary-bg-color);
}

.p-header {
    font-family: "Raleway-bold";
    font-size: 2em;
    margin-bottom: 30px;
    margin-top: 10px;
}

.header-wrapper {
    border-bottom: 2px solid var(--secondary-color);
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    background: var(--primary-bg-color);
}

header {
    padding: 35px 25px 0 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    font-size: 2em;
    padding-right: 50px;
}

.menu-item {
    margin: 0 5px;
}

.menu-item:hover {
    border-bottom: 2px solid var(--secondary-color);
}

.menu-item.active {
    border-bottom: 2px solid var(--secondary-color);
}


.logo {
    border-radius: 10px;
    overflow: hidden;
    white-space: nowrap;
    border: 5px solid black;
    color: gray;
    font-family: consolas;
    font-size: 2em;
    font-weight: 700;
    background: black;
 
}

.logo:hover .logo-text-inside {
    width: 100%;
}

.logo:hover .logo-text-outside {
    padding: 0;
    width: 0;
}

.logo:hover  .logo-icon {
    width: 100%;
}

.logo a{
    display: flex;
    flex-direction: row;
    width: 280px;
}

.logo-icon {
    background: black;
    color: var(--primary-bg-color);
    padding-right: 7px;
    display: flex;
    flex-direction: row;
    transition: width ease 1s;
    width: 65px;
    overflow: hidden;
}

.logo-text-inside {
    color: white;
    width: 0;
    overflow: hidden;
    transition: width ease 1s;
}

.logo-text-outside {
    border-radius: 10px;
    padding-left: 10px;
    background: #0B2653;
    color: var(--primary-color);
    transition: all ease 1s;
    overflow: hidden;
    width: 100%;
}

.logo-color {
    color: var(--primary-color);
}


.footer-wrapper {
    
    border-top: 2px solid var(--secondary-color);
    height: var(--footer-height);
    position: relative;
}

footer {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 50px 10px 50px;
}

.footer-socials {
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-quote {
    font-size: 1.1em;
    line-height: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.social-link:not(:last-child) {
    margin-right: 15px;    
}

.container {
    max-width: 75em;
    margin-right: auto;
    margin-left: auto;
}

.about-content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 100px;
}



.about-text {
    font-size: 2em;
    padding: 0 50px 0 100px;
    line-height: 30px;
}

.avatar {
    border-radius: 50%;
}

.about-experience {
    font-size: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.about-experience div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: font-size 1s;
}

.about-experience div:hover{
    font-size: 1.25em;
}


.about-experience i{
    font-size: 1.25em;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.25em;
}
.contact-form {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.contact-form label{
    font-weight: 900;    
}

.contact-form input{
    border-radius: 10px;
    border-color: var(--primary-color);
    height: 40px;
    margin-bottom: 20px;
    font-size: 1.25em;

}

.contact-form textarea{
    resize: none;
    border-radius: 10px;
    border-color: var(--primary-color);
    height: 40px;
    margin-bottom: 20px;
    font-size: 1.25em;
}

#text-input {
    height: 200px;
}

#submit-button {
    margin-top: 5px;
}